@buttons
{
	offset: 0;
	cache: /images/cache/;
	src: /images/btns/;

	button#submit
	{
		background-image: save.png;
		background-image-hover: save-hover.png;
		background-image-active: save-active.png;
	}
}